<footer>
  <div class="foot_links">
    <div class="email">
    
      <!-- email script from http://joemaller.com/js-mailer.shtml#finished -->
      <SCRIPT TYPE="text/javascript">
        emailE = 'augustana.edu'
        emailE = ('elizabethsloan20' + '@' + emailE)
        document.write('<a href="mailto:' + emailE + '">' + emailE + '</a>')
      </script>
      <NOSCRIPT>
        Email address protected by JavaScript. You can find my email in the PDF download of my resume.
      </NOSCRIPT>
    </div>
    <div class="foot_icons">
      <a href="https://github.com/ediggy" aria-label="Checkout my Github">
        <i class="fa-brands fa-square-github"></i>
      </a>
      
      <a href="https://www.linkedin.com/in/elizabethsloanweb/" aria-label="Link to LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="foot_info">Copyright 2023 Elizabeth Sloan</div>
</footer>